/*
* CREW Website
* Mobile Style Sheet
* By Nick Alekhine
*/

@media screen and (max-width: 1024px) { 
	/*--------------------------------------------------------*/
	/* Divs */
	div.container {
		position:relative;
		min-height:100%;		
		min-width:100%;
	}
		div.header {
			margin:auto;
			width:100%;
		}
			div.banner_container {
				float:none;
				margin:auto;
			}
			div.main_nav_container {
				float:none;
				width:100%;
			}
		div.meat {
			width:100%;
			padding-top:10px;
		}
			div.meat_header_container {
				margin:10px;
				margin-top:0px;
			}
			div.section_title_container {
				margin-right:10px;
			}
				div.section_title {
					margin-left:10px;
					margin-bottom:-8px;
					padding:5px;
					border-radius:1px;
				}
			div.section_body {
				margin-left:10px;
				margin-right:10px;
				margin-bottom:20px;		
			}
			div.column_a {
				float:left;
				background-color: transparent;
			}
				div.column_a .section_body{
					padding-left: 15px;
					padding-right: 15px;
				}
			div.column_b {
				float:right;
				background-color: transparent;
			}
	div.footer_container {
		min-width:100%;
	}
		div.footer {
			width:100%;
			margin:10px;
			margin-top:0px;
		}
			div#footer_buttons {
				float:left;
			}
	/*--------------------------------------------------------*/
	/* Links */
	a.banner /* Main banner for all pages */ {
		margin:auto;
	}
}


@media screen and (max-width: 973px) { 
	
	/*--------------------------------------------------------*/
	/* Divs */
	div.column_a {
		float:left;
		width:100%;
		background-color: transparent;
	}
	div.column_a .section_body{
		padding-left: 15px;
		padding-right: 15px;
	}
	div.column_b {
		float:right;
		width:100%;
		background-color: transparent;
	}
}

@media screen and (max-width: 480px) { 

	div.meat {
		width:100%;
		padding-top:10px;
		margin-bottom:70px;
	}

	/*--------------------------------------------------------*/
	/* Links */
	a.main_nav {
		font-size:1.8em;
	}

	a.top_button /* Top button */ {
		font-size:1.7em;
	}

}

@media screen and (max-width: 320px) { 

	/*--------------------------------------------------------*/
	/* Links */
	a.banner {
		background-size:75%;
		margin-left:15px; /* shitty workaround to "center" banner */
	}
	a.main_nav {
		font-size:1.4em;
	}
	a.t2 {
		font-size:1.1em;
	}

	a.top_button /* Top button */ {
		font-size:1.5em;
	}

	a#northeastern_logo /* Northeastern Logo seen in footer */ {
		background: url('footer/northeastern_logo.png') no-repeat 0 0;
		background-size:75%;
		display:block;
		margin:10px;
		height:25px;
	}

	/*--------------------------------------------------------*/
	/* Text */
	p {
		font-size:.8em;
	}
	p.small {
		font-size:.7em;
	}
	p.footer {
		color:#efefef;
		font-size:.8em;
		margin-left:10px
	}
	h1 {
		font-size:2.35em;
	}
	h1.section_title {
		font-size:2em;
	}
	h2 {
		font-size:1.4em;
	}
	h3 {
		font-size:1.2em;
	}
}
